<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse" th:fragment="navbar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><i class="fa fa-random fa-fw"></i> Weapon Dudes</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a th:href="@{/transactions}"><span class="glyphicon glyphicon-list-alt"></span> Weapon Transactions</a></li>
            <li><a th:href="@{/transactions/new}"><span class="glyphicon glyphicon-plus-sign"></span> New Transactions</a></li>
        </ul>
    </div>
</nav>
</body>

</html>